.n-container {
  height: 60px;
  width: 100vw;
  background-color: rgb(36, 33, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: "Bungee Inline", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Urbanist", sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  margin: 5px;
  margin-left: 40px;
}

.right-container {
  font-size: 15px;
  text-align: center;
  margin: 15px 10px 0px 0px;
}

li {
  list-style: none;
}
.refresh-button {
  background-color: rgb(36, 33, 33);
  color: white;
  border: none;
}

ul {
  display: flex;
  gap: 40px;
  align-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin-right: 40px;
  justify-content: space-around;
}

.item-name {
  margin: 0px;
  cursor: pointer;
}

@media (max-width: 420px) {
  ul {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
  }
  .n-container {
    height: 60px;
    width: 100vw;
    background-color: rgb(36, 33, 33);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  .logo {
    font-size: 20px;
    font-weight: 500;
  }
}
